@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

/* Hide scrollbar by default */
::-webkit-scrollbar {
  width: 0;
}

/* Show scrollbar on hover */
html:hover ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111;
}

/* Thin scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: repeating-conic-gradient(#000 0 90deg, #ccc 0 180deg);
  animation: l21 1s infinite linear;
}
@keyframes l21 {
  100% {
    transform: rotate(0.5turn);
  }
}
input::placeholder {
  color: black; /* Change placeholder color to gray */
}
